.login-container {
    font-family: "Source Sans Pro";
}
.login-container .sidebar {
    background-image: url(/assets/images/group_4.png), linear-gradient(-136.823530932deg, rgba(36, 35, 72, 255) 0%, rgba(90, 85, 170, 255) 100%);
    background-size: cover;
    min-height: 100vh;
}
.login-container .title, .login-container a {
    color: #43425d;
}
.login-container .title {
    font-weight: bold;
    letter-spacing: 5px;
}
.login-container .tag {
    color: rgba(77, 79, 92, .5);
}
.login-container .btn-main {
    background: rgba(67, 66, 93, 255);
}
.login-container .btn-main-outline {
    border: 1px solid rgba(67, 66, 93, 255);
}
